.animation-fade{
  animation-duration: 1s;
  animation-direction: normal;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: initial;
  animation-timing-function: ease-in-out;
}
.fade-top {
  animation-name: fade-top;
}

@keyframes fade-top {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

//---------------------------------------
.fade-bottom {
  animation-name: fade-bottom;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

//-------------------------------------

.animation-slide {
  animation-duration: 1s;
  animation-direction: normal;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: initial;
  animation-timing-function: ease-in-out;
}
.slide-left_top {
  animation-name: slide-left_top;
}
.slide-top {
  animation-name: slide-top;
}
.slide-right_top {
  animation-name: slide-right_top;
}

.slide-left-bottom {
  animation-name: slide-left_bottom;
}

.slide-bottom {
  animation-name: slide-bottom;
}

.slide-right_bottom {
  animation-name: slide-right-bottom;
}

@keyframes slide-left_top {
  0% {
    transform: translate(-150px, -150px) scale(1.3);
    
  }
  100% {
    transform: translate(0,0) scale(1);
  }
}
@keyframes slide-top {
  0% {
    transform: translateY(-150px) scale(1.3);
    
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
@keyframes slide-left_top {
  0% {
    transform: translate(150px, -150px) scale(1.3);
    
  }
  100% {
    transform: translate(0,0) scale(1);
  }
}