.logos {
  padding: 60px 0;
}
.logos-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 44px;
}

@media (max-width: 768px) {
  .logos {
    padding: 2rem;
  }
  .logos-container {
    height: auto;
    flex-direction: column;
    justify-content: center;
    img {
      margin-bottom: 30px;
    }
    
  }
}